{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook!{% endblock %}

{% block body %}
    <h2>Give your feedback!</h2>
    {% for conference in conferences %}
        <h4>{{ conference }}</h4>
        <ul class="nav">
            <li lass="nav-link"><a href="{{ path('conference', { id: conference.id }) }}">View</a></li>
        </ul>
    {% endfor %}
{% endblock %}
